.bgFooterGrey{
  padding: 10px 0 10px 0;
  background-color: $bgColorSecondaryDark;
  .bgF-Grey {
    @media only screen and (max-width: 992px) {
      text-align: center;
    }
    .ImgSVG{
      margin-top: 4px;
      a{
        text-decoration: none;
      }
      img{
        width: 60px;
        display: inline-block;
        padding: 5px;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      i {
        font-size: 35px;
        color: $bgColorPrimaryLight;
        padding: 10px;
        &:hover {
          color: $bgColorPrimaryDark;
        }
      }
    }
  }
}
.bgFooterBlue {
  padding: 10px 0 10px 0;
  background-color: $bgColorPrimaryDark;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: 0 15px;
  .bgF-Blue {
    .ListFooter {
      padding: 30px 0 30px 0;
      border-bottom: 2px solid $bgColorSecondaryDark;
      a {
        display: block;
        text-decoration: none;
        @include font (12px, $bgColorSecondaryLight, 400, $font-regular);
        &:hover {
          color: $bgColorSecondaryDark;
          text-decoration: none;
        }
      }
    }
    .ListFooterEnd {
      margin: 20px 0 20px 0;
      text-align: center;
      ul {
        margin: auto;
        padding-left: 0;
        li {
          display: inline-block;
          list-style: none;
          color: $TextColorPrimaryLight;
          a {
            text-decoration: none;
            @include font (14px, $TextColorPrimaryLight, 400, $font-regular);
            text-transform: uppercase;
           padding: 0 13px;
            &:hover {
              color: $bgColorSecondaryDark;
              text-decoration: none;
            }
          }
        }
      }
    }
    .Privacy_Policy{
      text-align: center;
      a {
        @include font (10px, $TextColorPrimaryLight, 400, $font-regular);
        text-decoration: none;
      }
    }
  }
}
