.bgDarkenBlue{
  background-color: $bgColorPrimaryDark;
  padding: 10px 0 10px 0;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
   .DarkenBlue{
    .TollCall{
      span{
        @include font (20px, $bgColorSecondaryDark, 400, $font-thin);
        text-align: center;
        line-height: 1;
        @media only screen and (max-width: 1200px) {
          @include font (17px, $bgColorSecondaryDark, 400, $font-thin);
        }
        @media only screen and (max-width: 992px){
          @include font (15px, $bgColorSecondaryDark, 400, $font-thin);
        }
      }
      a {
        text-decoration: none;
        @include font (20px, $bgColorSecondaryDark, 400, $font-regular);
        text-align: center;
        line-height: 1;
        &:hover {
          color: $TextColorPrimaryLight;
          text-decoration: none;
        }
        @media only screen and (max-width: 1200px) {
          @include font (17px, $bgColorSecondaryDark, 400, $font-regular);
        }
        @media only screen and (max-width: 992px){
          @include font (14px, $bgColorSecondaryDark, 400, $font-regular);
        }
      }
    }
    .login{
      @include font (22px, $TextColorPrimaryLight, 400, $font-regular);
      text-align: center;
      line-height: 1;
      text-decoration: none;
      padding-right: 7px;
      text-transform: uppercase;
      @media only screen and (max-width: 1200px) {
        @include font (17px, $TextColorPrimaryLight, 400, $font-regular);
      }
      @media only screen and (max-width: 992px){
        @include font (14px, $TextColorPrimaryLight, 400, $font-regular);
      }
      &:hover {
        text-decoration: none;
        color: $bgColorPrimaryLight;
        text-transform: uppercase;
      }
      i {
        padding-left: 5px;
      }
    }
  }
}
.bgMenu{
  box-shadow: 2px 4px 7px #95aeb6;
  background-color: $bgColorPrimaryLight;
  padding: 5px 0 5px 0;
    .Menu{
      @media only screen and (max-width: 992px) {
        background-image: url(../img/logo-2.png);
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    .navigation  {
      padding: 5px;
      text-align: justify;
      ul{
        margin: auto;
        padding-left: 0;
         li {
          display: inline-block;
          list-style: none;
           color: $TextColorPrimaryLight ;
            a {
            text-decoration: none;
            @include font (20px, $TextColorPrimaryLight, 400, $font-regular);
            text-transform: uppercase;
              padding: 0 15px;
          }
        }
      }
    }
    .menu-trigger {
      display:none;
      text-align:center;
    }
    .navigation li a:hover {
      background-color: $bgColorSecondaryDark;
      color: $bgColorPrimaryLight;
      }
    @media screen and (max-width:1200px) {
      .menu-trigger {
        text-align: right;
        display:block;
        text-decoration: none;
        margin-top: 5px;
        @include font (20px, $TextColorPrimaryLight, 400, $font-regular);
      }
      .menu-trigger:hover {
        color: $bgColorSecondaryDark;
        }
      .navigation ul li {
        display:block;
        height: 30px;
      }
      .navigation a {
        padding: 20px;
      }
      .navigation ul {
        display:none;
      }
    }
  }
}
.bgImage {
  background-image: url(../img/layer.png);
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  @media only screen and (max-width: 992px){
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bgColorSecondaryLight;
    text-align: center;

  }
  .bgIMG {
    img {
      height: auto;
      margin-top: 20px;
      @media only screen and (max-width: 992px){
        display: none;
      }
    }
    h1 {
      text-transform: uppercase;
      display: inline-block;
      background: $bgColorSecondaryDark;
      box-shadow: 2px 4px 7px rgba(167, 192, 200, 0.75);
      padding: 15px;
    }
    h3 {
      text-transform: uppercase;
      padding: 5px 15px 0 15px;
    }
    .List {
      li {
        color: $bgColorPrimaryLight;
        font-size: 25px;
        text-align: left;
        span {
          line-height: 33px;
          @include font (18px, $TextColorPrimaryDark, 400, $font-medium);
        }
      }
    }
    a {
      margin: 8px;
      text-decoration: none;
      color: $bgColorPrimaryLight;
      @media only screen and (max-width: 992px){
        text-align: center;
      }
    }
  }
}
.bgBluePrice{
  background-color: $bgColorPrimaryDark;
  padding: 15px 0 15px 0;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  .BluePrice{

    h2{
      background-color: $bgColorSecondaryDark;
      text-transform: uppercase;
      padding: 7px 0 7px 7px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .Text{
      background-color: $bgColorSecondaryDark;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 10px;
      span{
        @include font (28px, $SecondaryColorLight, 500, $font-regular);
        display: inline-block;
      }
      h4{
        display: inline-block;
      }
    }
  }
}