.MainEssayWriting {
  background-color: $bgColorSecondaryLight;
  padding: 20px 0 20px 0;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  .EssayWritingText {
    h2 {
      padding: 10px;
      text-align: center;
      background-color: $bgColorSecondaryDark;
      text-transform: uppercase;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
    }
  }
  .EssayWritingBlock {
    text-align: center;
    h4 {
      text-transform: uppercase;
    }
    .block {
      padding: 15px 5px;
      display: block;
      height: auto;
      margin: 20px 0 20px 0;
      &:hover {
        background-color: $TextColorPrimaryLight;
        box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
      }
      .textBlock {
        margin-top: 115px;
        ul {
          text-align: left;
          li {
            @include font (16px, $TextColorPrimaryDark, 400, $font-regular);
          }
        }
      }
    }
    .Element_1 {
      background: url('../img/Element1.svg') no-repeat center 15px;
      background-size: 100px;
      &:hover {
        background: url('../img/Element1_dark.svg') no-repeat center 15px;
        background-size: 100px;
        background-color: $TextColorPrimaryLight;
      }
      a{
        margin-top: 227px;
        @media only screen and (max-width: 1200px) {
          margin-top: auto;
        }
      }
    }
    .Element_2 {
      background: url('../img/Element2.svg') no-repeat center 15px;
      background-size: 100px;
      &:hover {
        background: url('../img/Element2_dark.svg') no-repeat center 15px;
        background-size: 100px;
        background-color: $TextColorPrimaryLight;
      }
      a {
        margin-top: 76px;
        @media only screen and (max-width: 1200px) {
          margin-top: auto;
        }
      }
    }
    .Element_3 {
      background: url('../img/Element3.svg') no-repeat center 15px;
      background-size: 100px;
      &:hover {
        background: url('../img/Element3_dark.svg') no-repeat center 15px;
        background-size: 100px;
        background-color: $TextColorPrimaryLight;
      }
      a{
        margin-top: auto;
      }
    }
    .Element_4 {
      background: url('../img/Element4.svg') no-repeat center 15px;
      background-size: 100px;
      &:hover {
        background: url('../img/Element4_dark.svg') no-repeat center 15px;
        background-size: 100px;
        background-color: $TextColorPrimaryLight;
      }
    }
    a {
      margin-top: 85px;
      @media only screen and (max-width: 1200px) {
        margin-top: auto;
      }
    }
  }
}
.MainWhyPaper {
  background-color: $bgColorPrimaryLight;
  padding: 20px 0 20px 0;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  .WhyPaperText {
    h2 {
      padding: 10px;
      text-align: center;
      background-color: $bgColorSecondaryDark;
      box-shadow: 2px 4px 7px rgba(2, 68, 121, 0.75);
      text-transform: uppercase;
      @media only screen and (max-width: 992px) {
        font-size: 20px;
      }
      }
    h6{
      text-align: center;
      margin-top: 20px;
    }
  }
  .WhyPaperBlock_1 {
    .block_1 {
      display: block;
      height: auto;
      margin: 20px 0 20px 0;
      .textBlock_1 {
        border-bottom: 2px solid $TextColorPrimaryLight;
        span{
          background-color: $TextColorPrimaryLight;
          padding: 1px 10px;
          font-size: 25px;
          border-radius: 50px;
          @include font (25px, $bgColorPrimaryLight, 700, $font-regular);
        }
        p{
          margin-top: 10px;
          @include font (18px, $TextColorPrimaryLight, 400, $font-regular);
        }
      }
    }
  }
}
.MainHIW {
  background-color: $bgColorSecondaryLight;
  padding: 20px 0 20px 0;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  .HIW_Tittel {
    h2 {
      padding: 10px;
      text-align: center;
      background-color: $bgColorSecondaryDark;
      text-transform: uppercase;
      box-shadow: 2px 4px 7px rgba(155, 182, 190, 0.75);
    }
  }
  .HIW_Accordion {
    .accordion {
      margin: auto;
      width: auto;
    }
    .accordion input {
      display: none;
    }
    .box {
      position: relative;
      background: $bgColorSecondaryLight;
      height: 64px;
      transition: all .15s ease-in-out;
    }
    .box::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    }
    header.box {
      background: #00BCD4;
      z-index: 100;
      cursor: initial;
      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
    }
    header .box-title {
      margin: 0;
      font-weight: normal;
      font-size: 16pt;
      color: $TextColorPrimaryLight;
      cursor: initial;
    }
    .box-title {
      @include font (18px, $bgColorPrimaryLight, 400, $font-medium);
      text-transform: uppercase;
      width: calc(100% - 40px);
      height: 64px;
      line-height: 64px;
      padding: 0 20px;
      display: inline-block;
      cursor: pointer;
      -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
      &:hover {
        background-color:$bgColorPrimaryLight;
        color: $bgColorSecondaryDark;
      }
    }
    .box-content {
      width: calc(100% - 40px);
      padding: 30px 20px;
      font-size: 11pt;
      color: rgba(0,0,0,.54);
      display: none;
    }
    .box-close {
      position: absolute;
      height: 64px;
      width: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      display: none;
    }
    input:checked + .box {
      height: auto;
      margin: 16px 0;
      box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    }
    input:checked + .box .box-title {
      border-bottom: 1px solid rgba(0,0,0,.18);
    }
    input:checked + .box .box-content,
    input:checked + .box .box-close {
      display: inline-block;
    }
    .arrows section .box-title {
      padding-left: 44px;
      width: calc(100% - 0px);
    }
    .arrows section .box-title:before {
      position: absolute;
      display: block;
      content: '\203a';
      font-size: 18pt;
      left: 20px;
      top: -2px;
      transition: transform .15s ease-in-out;
      color: rgba(0,0,0,.54);
    }
    input:checked + section.box .box-title:before {
      transform: rotate(90deg);
    }
    .madeby {
      position: fixed;
      bottom: 4px;
      left: 4px;
      color: rgba(0,0,0,.38);
      font-size: 12pt;
    }
  }
  .OrderNow{
    text-align: center;
    a{
      margin-top: 25px;
      text-decoration: none;
      color: $TextColorPrimaryLight;
    }
  }
}