<footer class="mainFooter">
<section class="bgFooterGrey">
    <div class="container-fluid">
        <div class="container bgF-Grey">
            <div class="row">
                <div class="col-md-9 hidden-sm hidden-xs ImgSVG">
                    <a href="#" ><img class="ImgSVG" src="../img/diners-club.svg" alt=""/></a>
                    <a href="#" ><img class="ImgSVG" src="../img/discover.svg" alt=""/></a>
                    <a href="#"><img class="ImgSVG" src="../img/jcb.svg" alt=""/></a>
                    <a href="#" ><img class="ImgSVG" src="../img/master card.svg" alt=""/></a>
                    <a href="#" ><img class="ImgSVG" src="../img/paypal.svg" alt=""/></a>
                    <a href="#"><img class="ImgSVG" src="../img/visa.svg" alt=""/></a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bgFooterBlue">
    <div class="container-fluid">
        <div class="container bgF-Blue">
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs ListFooter">
                    <a href="#">Site map</a>
                    <a href="#">Free essays</a>
                    <a href="#">Custom Research Papers</a>
                    <a href="#">Custom Term Paper</a>
                    <a href="#">Writing Service</a>
                    <a href="#">Custom Writing</a>
                    <a href="#">Custom Writing Services</a>
                    <a href="#">Custom Written Essay</a>
                    <a href="#"> Do My Essay</a>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs ListFooter">
                    <a href="#">Do My Paper</a>
                    <a href="#">Editing Service</a>
                    <a href="#">Essay Buy</a>
                    <a href="#">Essay Editing</a>
                    <a href="#">Essay Help</a>
                    <a href="#">Essay Online</a>
                    <a href="#">Essay Order</a>
                    <a href="#">Essay Paper</a>
                    <a href="#">Essay Papers to Buy</a>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs ListFooter">
                    <a href="#">Essay Service</a>
                    <a href="#">Essay Writer</a>
                    <a href="#">Essay Writing</a>
                    <a href="#">Essay Writing Service</a>
                    <a href="#"> Essay Writing Services</a>
                    <a href="#">Essay Writing Online</a>
                    <a href="#">Essays Buy</a>
                    <a href="#">Essays for Sale</a>
                    <a href="#">Essays Order</a>
                </div>
                <div class="col-md-2  hidden-sm hidden-xs ListFooter">
                    <a href="#">Essays to Buy</a>
                    <a href="#">Essays Written</a>
                    <a href="#">Formatting Service</a>
                    <a href="#">Freelance Essay Writing</a>
                    <a href="#">Grant Writing</a>
                    <a href="#">How to Buy an Essay</a>
                    <a href="#">Non - Plagiarized Essay</a>
                    <a href="#">Online Essay</a>
                    <a href="#">Online Research Paper</a>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs ListFooter">
                    <a href="#">Online Term Paper</a>
                    <a href="#">Online Writing</a>
                    <a href="#">Order an Essay</a>
                    <a href="#">Order Custom Essay</a>
                    <a href="#">Order Custom Paper</a>
                    <a href="#">Order Essay</a>
                    <a href="#">Order Essays</a>
                    <a href="#">Original Essay</a>
                    <a href="#">Paper Service</a>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs ListFooter">
                    <a href="#">Paper Writer</a>
                    <a href="#">Paper Writing</a>
                    <a href="#">Paper Writing Service</a>
                    <a href="#">Personal Narrative Essay</a>
                    <a href="#">Academic Essays Writers</a>
                    <a href="#">Buy Cheap Essay</a>
                    <a href="#">Buy Custom</a>
                    <a href="#">Paper  Buy Custom</a>
                    <a href="#">Buy Research Paper</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ListFooterEnd">
                <ul>
                    <li><a href="#"> Business</a>|</li>
                    <li><a href="#">Economics</a>|</li>
                    <li><a href="#">Informative</a>|</li>
                    <li><a href="#">Literature</a>|</li>
                    <li><a href="#">Management</a>|</li>
                    <li><a href="#">Political</a>|</li>
                    <li><a href="#">Psychology</a>|</li>
                    <li><a href="#">Research</a>|</li>
                    <li><a href="#">Review</a>|</li>
                    <li><a href="#">Technology</a>|</li>
                </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 Privacy_Policy">
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="js/main.js"></script>
</footer>
</body>
</html>