<article class="MainHome">
    <section class="MainEssayWriting">
        <div class="container-fluid">
            <div class="container EssayWriting">
                <div class="row EssayWritingText">
                    <div class="col-md-12">
                        <h2>Essay writing is challenging, difficult and time-consuming</h2>
                        <p>Are students overseas concerned about different research papers writing? Certainly yes!
                        It is often much harder for them to keep up with written essay assignments, especially
                        at higher level education. Though they may study hard, but they may still be disappointed
                        with the grades they get for their coursework. The recipe for success is to create a genuinely
                        good research paper with a unique angle. When this is strengthened with good editing and a
                        plagiarism test, you have an opportunity to get a grade winning essay.<br>
                        If you are thinking you can't write your essay well enough and you need professional assistance,
                        then you are thinking along the right lines. When your tutors read the essay we provide,
                        they will love it. They will think you wrote it and they will admire the way it is written,
                        so you are likely to get an A grade.</p>
                    </div>
                </div>
                <div class="row EssayWritingBlock">
                    <div class="col-lg-3">
                        <div class="block Element_1">
                            <div class="textBlock">
                                <h4>All your standards will be meet</h4>
                                <p>These days, on a monthly basis, countless students buy essays from professional
                                   writing service providers. And, guess what? This is no big surprise.
                                   There are many students who aren't very skilled at writing and cannotproduce
                                   good-quality, accurately referenced and perfectly edited custom papers on their own.</p>
                                <a href="#" class="btn-secondary-blue">read more »</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="block Element_2">
                            <div class="textBlock">
                                <h4>Our professional writers can make all the
                                    difference for students</h4>
                                <p>As a market-leading provider of essay help, we have unquestionable experience and
                                    a well-established reputation in our field. Our main objective is to lend our
                                    assistance to students all around the globe so that they may succeed in their
                                    academic endeavors and in every aspect of their lives. If you buy your papers
                                    from us online, you will be able to manage your busy schedule better and devote
                                    more time to friends and family or use it for other more pressing matters,
                                    whether they are personal or business-related.</p>
                                <a href="#" class="btn-secondary-blue">read more »</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="block Element_3">
                            <div class="textBlock">
                                <h4>Five good reasons to partner BestWritingHelp.org</h4>
                                <p>All said, there are five good reasons that make us the
                                    best and most professional service provider with over 90%
                                    of our customers placing repeat orders.</p>
                                <ul>
                                    <li>Original content: All papers are fully free of plagiarism</li>
                                    <li>Punctuality: With over 2000 writers, all papers are delivered on time</li>
                                    <li>Legitimate ordering process: We use trustworthy billing methods e.g. Payoneer, PayPal and similar</li>
                                    <li>Privacy: No one will know you got help</li>
                                    <li>Papers at an affordable price: We offer the best value with prices that are quite cheap</li>
                                </ul>
                                <a href="#" class="btn-secondary-blue">read more »</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="block Element_4">
                            <div class="textBlock">
                                <h4>There is a solution if you buy essays from us </h4>
                                <p>It may surprise you to learn that one in four students use the services of custom
                                    writing companies.It is entirely reasonable to look for essay help from experts
                                    when you have an overly complex assignment.If you do, you </p>
                                <ul>
                                    <li>Gain some free time for yourself</li>
                                    <li>Get improved grades</li>
                                    <li>Be equal to the best students on your course</li>
                                    <li>Win the admiration of your tutors</li>
                                    <li>Enhance your academic record to a remarkable extent</li>
                                </ul>
                                <a href="#" class="btn-secondary-blue">read more »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="MainWhyPaper">
        <div class="container-fluid">
            <div class="container WhyPaper">
                <div class="row WhyPaperText">
                    <div class="col-md-12">
                        <h2>Why order paper assignments from BestWritingHelp.org?</h2>
                        <h6>The features that define our uniqueness when you order paper assignments:</h6>
                    </div>
                </div>
                <div class="row WhyPaperBlock_1">
                    <div class="col-md-3">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>1</span>
                                <p>A team of writing experts that is larger than you will find elsewhere.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>2</span>
                                <p>Flexible pricing structure based on your academic level, the length
                                    of your assignment and the time frame you need it in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>3</span>
                                <p>The highest number of clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>4</span>
                                <p>Attractive discounts for repeat customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row WhyPaperBlock_1">
                    <div class="col-md-3">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>5</span>
                                <p>Close collaboration between customer and writer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>6</span>
                                <p>Revisions accommodated where customer is not satisfied with our first effort.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>7</span>
                                <p>High levels of security for all customers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="block_1">
                            <div class="textBlock_1">
                                <span>8</span>
                                <p>Convenient contact methods with our headquarters if
                                    you have any queries on your order.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="MainHIW">
        <div class="container-fluid">
            <div class="container HIW">
                <div class="row HIW_Tittel">
                    <div class="col-md-12">
                        <h2>How it works</h2>
                    </div>
                </div>
                <div class="row HIW_Accordion">
                    <div class="col-md-12">
                        <nav class="accordion arrows">
                            <input type="radio" name="accordion" id="cb1" />
                            <section class="box">
                                <label class="box-title" for="cb1">Make your way to the order page and complete </label>
                                <label class="box-close" for="acc-close"></label>
                                <div class="box-content">Let us know what you think of your paper once you have reviewed it. Our email will
                                    contain a link to our customer satisfaction survey form. Please feel free
                                    to fill it in. You may also request revisions within two weeks following
                                    the deadline. Revisions will be free unless you modify your original instructions.</div>
                            </section>
                            <input type="radio" name="accordion" id="cb2" />
                            <section class="box">
                                <label class="box-title" for="cb2">Continue to the payment page </label>
                                <label class="box-close" for="acc-close"></label>
                                <div class="box-content">Let us know what you think of your paper once you have reviewed it. Our email will
                                    contain a link to our customer satisfaction survey form. Please feel free
                                    to fill it in. You may also request revisions within two weeks following
                                    the deadline. Revisions will be free unless you modify your original instructions.</div>
                            </section>
                            <input type="radio" name="accordion" id="cb3" />
                            <section class="box">
                                <label class="box-title" for="cb3">Monitor your email for confirmation of your order and save</label>
                                <label class="box-close" for="acc-close"></label>
                                <div class="box-content">Let us know what you think of your paper once you have reviewed it. Our email will
                                    contain a link to our customer satisfaction survey form. Please feel free
                                    to fill it in. You may also request revisions within two weeks following
                                    the deadline. Revisions will be free unless you modify your original instructions.</div>
                            </section>
                            <input type="radio" name="accordion" id="cb4" />
                            <section class="box">
                                <label class="box-title" for="cb4">Use your personal account area to contact your writer and
                                    our support personnel  </label>
                                <label class="box-close" for="acc-close"></label>
                                <div class="box-content">Let us know what you think of your paper once you have reviewed it. Our email will
                                    contain a link to our customer satisfaction survey form. Please feel free
                                    to fill it in. You may also request revisions within two weeks following
                                    the deadline. Revisions will be free unless you modify your original instructions.</div>
                            </section>
                            <input type="radio" name="accordion" id="cb5" />
                            <section class="box">
                                <label class="box-title" for="cb5">Use the link from our email to download your paper</label>
                                <label class="box-close" for="acc-close"></label>
                                <div class="box-content">Let us know what you think of your paper once you have reviewed it. Our email will
                                    contain a link to our customer satisfaction survey form. Please feel free
                                    to fill it in. You may also request revisions within two weeks following
                                    the deadline. Revisions will be free unless you modify your original instructions.</div>
                            </section>
                            <input type="radio" name="accordion" id="cb6" />
                            <section class="box">
                                <label class="box-title" for="cb6">Give us feedback!</label>
                                <label class="box-close" for="acc-close"></label>
                                <div class="box-content">Let us know what you think of your paper once you have reviewed it. Our email will
                                    contain a link to our customer satisfaction survey form. Please feel free
                                    to fill it in. You may also request revisions within two weeks following
                                    the deadline. Revisions will be free unless you modify your original instructions.</div>
                            </section>
                            <input type="radio" name="accordion" id="acc-close" />
                        </nav>
                    </div>
                </div>
                <div class="row OrderNow">
                    <div class="col-md-12">
                        <a href="#" class="btn-primary-red">order now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
