.btn-primary-red {
  padding: 3px 55px;
  border: 1px;
  @include font (24px, $TextColorPrimaryLight, 400, $font-regular);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: $SecondaryColorLight;
  &:hover {
    background-color: $SecondaryColorDark;
    color: $TextColorPrimaryLight;
    text-decoration: none;
  }
}
.btn-primary-blue {
  width: 230px;
  height: 35px;
  border: 1px solid $bgColorPrimaryLight;
  @include font (18px, $bgColorPrimaryLight, 400, $font-regular);
  text-decoration: none;
  display: inline-block;
  text-align: center;
   &:hover {
     border: none;
     text-decoration: none;
  }
}
.btn-secondary-blue {
  padding: 15px 15px;
  border: 1px;
  @include font (16px, $TextColorPrimaryLight, 400, $font-regular);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: $bgColorPrimaryDark;
  &:hover {
    background-color: $bgColorSecondaryDark;
    text-decoration: none;
    color:$bgColorPrimaryLight;
  }
}