$bgColorPrimaryDark: #013056;
$bgColorPrimaryLight: #1b7fd0;
$bgColorHeaderFooter: #013056;
$bgColorSecondaryDark: #caddea;
$bgColorSecondaryLight: #f4f6fa;
$SecondaryColorLight: #dd0000;
$SecondaryColorDark: #a40000;
$TextColorPrimaryDark: #000000;
$TextColorPrimaryLight: #ffffff;


