@font-face {
  font-family: 'roboto-bold';
  src: url('/fonts/bold/roboto-bold-webfont.eot');
  src: url('/fonts/bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/bold/roboto-bold-webfont.woff2') format('woff2'),
  url('/fonts/bold/roboto-bold-webfont.woff') format('woff'),
  url('/fonts/bold/roboto-bold-webfont.svg#roboto-bold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'roboto-regular';
  src: url('/fonts/regular/roboto-regular-webfont.eot');
  src: url('/fonts/regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/regular/roboto-regular-webfont.woff2') format('woff2'),
  url('/fonts/regular/roboto-regular-webfont.woff') format('woff'),
  url('/fonts/regular/roboto-regular-webfont.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'roboto-light';
  src: url('/fonts/light/roboto-light-webfont.eot');
  src: url('/fonts/light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/light/roboto-light-webfont.woff2') format('woff2'),
  url('/fonts/light/roboto-light-webfont.woff') format('woff'),
  url('/fonts/light/roboto-light-webfont.svg#roboto-light') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'roboto-medium';
  src: url('/fonts/medium/roboto-medium-webfont.eot');
  src: url('/fonts/medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/medium/roboto-medium-webfont.woff2') format('woff2'),
  url('/fonts/medium/roboto-medium-webfont.woff') format('woff'),
  url('/fonts/medium/roboto-medium-webfont.svg#roboto-medium') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'roboto-thin';
  src: url('/fonts/thin/roboto-thin-webfont.eot');
  src: url('/fonts/thin/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/thin/roboto-thin-webfont.woff2') format('woff2'),
  url('/fonts/thin/roboto-thin-webfont.woff') format('woff'),
  url('/fonts/thin/roboto-thin-webfont.svg#roboto-thin') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: FontAwesome;
  src: url('../../fonts/fontawesomе/fontawesome-webfont.eot');
  src: url('../../fonts/fontawesomе/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/fontawesomе/fontawesome-webfont.woff2') format('woff2'),
  url('../../fonts/fontawesomе/fontawesome-webfont.woff') format('woff'),
  url('../../fonts/fontawesomе/fontawesome-webfont-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-bold: 'roboto-bold', sans-serif;
$font-regular: 'roboto-regular', sans-serif;
$font-light: 'roboto-light', sans-serif;
$font-medium: 'roboto-medium', sans-serif;
$font-thin: 'roboto-thin', sans-serif;
$font-awesome: FontAwesome;


@mixin font ($font-size:14px, $color:$TextColorPrimaryLight, $font-weight:400, $font-family:$font-regular){
  font-size: $font-size;
  color: $color;
  font-weight:$font-weight;
  font-family: $font-family;

}


