body {
  @include font (18px, $TextColorPrimaryDark, 400, $font-regular);
  max-width: 1920px;
  min-width: 320px;
}
h1{
  @include font (32px, $bgColorPrimaryLight, 700, $font-bold);
}
h2{
  @include font (28px, $bgColorPrimaryLight, 500, $font-bold);

}
h3{
  @include font (24px, $TextColorPrimaryDark, 500, $font-medium);

}
h4{
  @include font (18px, $bgColorPrimaryLight, 400, $font-medium);
}
h5{
  @include font (16px, $TextColorPrimaryDark, 400, $font-regular);

}
h6{
  @include font (22px, $TextColorPrimaryLight, 400, $font-regular);
}
p{
  @include font (16px, $TextColorPrimaryDark, 400, $font-regular);

}


@function convertToEm($px, $context: 16px){
  @return ($px / $context) * 1em;
}

@function convertToRem($px, $context: 16px){
  @return ($px / $context) * 1rem;
}
